#list thead {
    background-color: lightgoldenrodyellow;
}

#list tbody {
    cursor: pointer;
}

.assets {
    font-size: smaller;
    color: gray;
}

.date {
	font-size: xx-large;
}

.income {
    color: blue;
}

.cost {
    color: red;
}